<div class="col-sm-9 col-md-7 col-lg-5 mx-auto p-4 bg-white">
      <h2 class="mb-3">Edit Profile</h2>

      <form enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="PcqoxXxXb/iBL/+ZwUeaiGee41SMH/EvyaEoex5NEDvBVK7u6Gf6/JImflsuHBP24i1YXdlmm1CWE9/tEovIWA==" />
        


        <div class="form-group">
          <label for="user_profile_image">プロフィール画像</label>
          <div class="custom-file mb-2">
              <input data-reference="9eb5addf4020a1587d7a398f17047bc1" type="hidden" name="user[profile_image]" /><input presigned="true" class="custom-file-input" data-direct="true" data-presigned="true" data-url="/attachments/cache/presign" data-reference="9eb5addf4020a1587d7a398f17047bc1" accept="image/jpeg,image/png" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image" />
              <label class="custom-file-label" for="user_profile_image">プロフィール画像を選択</label>
          </div>
          <div id="preview">
            <img id="preview-image" class="attachment user profile_image rounded-circle fallback" src="/assets/no_profile_image-b06da1ee4083f5ca743b0880ae407aaa7cf2872eba13adf98a82b9fc0897c171.jpg" />
          </div>
        </div>

        <div class="form-group">
          <label for="user_name">ユーザー名</label>
          <input class="form-control" type="text" value="Guest User" name="user[name]" id="user_name" />
        </div>

        <div class="form-group">
          <label for="user_introduction">プロフィールメッセージ</label>
          <textarea class="form-control" name="user[introduction]" id="user_introduction">
Guest User</textarea>
        </div>

        <div class="form-group">
          <label for="user_email">メールアドレス</label>
          <input autocomplete="email" class="form-control" type="email" value="guest@example.com" name="user[email]" id="user_email" />
        </div>

         <div class="form-group">
          <label for="user_password">パスワード</label>
          <input autocomplete="new-password" class="form-control" type="password" name="user[password]" id="user_password" />
        </div>

        <div class="form-group">
          <label for="user_password_confirmation">パスワード（確認用）</label>
          <input autocomplete="new-password" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
        </div>

        <div class="form-group">
          <label for="user_current_password">現在のパスワード</label>
          <input autocomplete="current-password" class="form-control" type="password" name="user[current_password]" id="user_current_password" />
        </div>

         <div class="form-group d-flex">
          <div class="mr-auto flex-grow-1">
            <input type="submit" name="commit" value="保存" class="btn btn-info" data-disable-with="保存" />
            <a data-confirm="本当に退会しますか?" class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/users">退会</a>
          </div>
          <a class="btn btn-outline-secondary" href="http://pf-ec2.ddns.net/users/13">戻る</a>
        </div>