<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-3 m-5">
      <div class="text-center">
        <%= attachment_image_tag @user, :profile_image, class: "prof_img", fallback: "no_image.png" %>
      </div>
      <div class="text-center py-3"><%= @user.name %></div>
    </div>
    <div class="col-6 m-5">
      <div class="pb-3"><h1>フォロー</h1></div>
      <% if @users.exists? %>
        <% @users.each do |user| %>
          <p class="follow-user">
            <%= attachment_image_tag @user, :profile_image, class: "follow-img", fallback: "no_image.png", size: "50x50" %>
            <%= link_to user.name, user_path(user.id) %>
          </p>
        <% end %>
      <% else %>
        <p>フォローしているユーザーはいません</p>
      <% end %>
    </div>

  </div>
</div>