<div class="container">

  <h1>フォロー</h1>

  <% if @users.exists? %>

    <% @users.each do |user| %>
      <p><span>name: </span><%= link_to user.name, user_path(user.id) %></p>
    <% end %>

  <% else %>

   <p>フォローしているユーザーはいません</p>

  <% end %>

</div>