<h5>お問い合わせ内容</h5>

<p>-----------------------------------------</p>

<p>名前：<%= @name %>様</p>

<p>メールアドレス：<%= @email %></p>

<p>お問い合わせ内容：<%= @contact.body %></P>

<p>-----------------------------------------</p>