<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <h3 class="mb-4 text-center">ログイン</h3>

      <%= form_with model: @user, url: user_session_path, class: "col-12", local: true do |f| %>
        <div class="col-12 my-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "\uf0e0 メールアドレス", class: "fa form-control", style: "letter-spacing: 10px;" %>
        </div>
        <div class="col-12 my-5">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "\uf084 パスワード", class: "fa form-control", style: "letter-spacing: 10px;" %>
        </div>
        <div class="text-right">
          <%= f.submit "ログイン", class: "col-4 btn btn-primary"%>
        </div>
      <% end %>

    </div>
  </div>
</div>