<h1>投稿一覧</h1>

<%= link_to "新規投稿", new_post_path %>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= link_to "投稿詳細", post_path(post.id) %></td>
  </tr>
<% end %>