<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <table>
    <tr>
      <td><%= link_to post.user.name %></td>
      <td><%= link_to post.title , post_path(post.id) %></td>
      <td>コメント件数：<%= post.comments.count %></td>
    </tr>
  </table>
<% end %>