/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

body {
  background-color: #222222;
  color: #DFDBC4;
}

h3 {
  letter-spacing: 5px;
}

header {
  text-shadow: silver 1px 1px 10px;
  height: 80px;
  width: 100%;
  display: flex;
}

.header-nav {
  margin: 0 auto;
  line-height: 80px;
}

.header-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
}

.header-li {
  padding: 30px 50px;
  color: #DFDBC4;
}

.header-li:hover {
  color: #AA8E4F;
  text-decoration: none;
  background-color: rgba(51,51,51,0.9);
}

#button {
  margin-left: auto;
  background-collor: white;
}

.container {
  margin-top: 70px;
}

.table {
  color: #DFDBC4;
}



/* タブレット横置きサイズ（1210px）以下の際に適用される設定 */
@media screen and (max-width:1210px) {
  header {
    background-color: rgba(51,51,51,0);
  }

  .header-nav {
    margin: 0 0 0 auto;
    line-height: 60px;
  }

  .header-ul {
    letter-spacing: 0;
  }

  .header-li {
    padding: 20px;
  }

  .fa-bars {
    font-size: 40px;
    color: #DFDBC4;
  }
}

