// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header-top {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(51,51,51,0.5);
  color: #fff;
  width: 350px;
  min-height: 100%;
  display: none;
  z-index: 2;
}

.nav-img {
  background-image: image-url('korog.png');
  position: fixed;
  background-size: cover;
  height: 200px;
  width: 200px;
  z-index: 3;
  right: -50px;
  top: 300px;
  display: none;
}

.space {
  padding-top: 100px;
}

.nav-menu {
  text-shadow: silver 1px 1px 10px;
  font-size: 25px;
  color: #DFDBC4;
}

.nav-menu:hover {
  color: #AA8E4F;
}

.top-ul {
  list-style: none;
  margin-top: 100px;
  line-height: 100px;
}

video {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about {
  height: 1000px;
  background-color: #222222;
  color: #DFDBC4;
  text-shadow: silver 1px 1px 10px;
  margin-top: -6px;
}

.about-top {
  margin-top: 30px;
  letter-spacing: 10px;
  font-size: 70px;
}

.about-text {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 30px;
}

.about-second {
  margin: 200px 0 100px 0;
  line-height: 100px;
}